.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  font-weight: 500;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 8px 8px rgba(0, 128, 128, 0.414);
  & button {
    border: none;
    background-color: teal;
    padding: 10px 12px;
    color: aliceblue;
  }
}

.label {
  display: flex;
  gap: 5px;
  flex-direction: column;
  & span {
    font-weight: bold;
  }
}

.input {
  padding: 5px;
  border-radius: 8px;
}
